<!DOCTYPE html>
<html>

<body ng-app="myapp">
	<div ng-controller="TaskFormController">
		Pivotal Tracker Tasker:
		<form ng-submit="pivotalTaskForm.submitTheForm()">
			Story ID:
			<input type="text" id="storyID" size="15" ng-model="pivotalTaskForm.storyID">
			<br/> Project:
			<select ng-model="pivotalTaskForm.project">
				<option value="1101864">QA</option>
				<option value="1082120">Channel</option>
				<option value="1028402">Data</option>
				<option value="873433">Dev Support</option>
				<option value="1084250">Internal</option>
				<option value="994814">Retail</option>
				<option value="1084254">Third Party</option>
			</select>
			<br/> Task List:
			<br/>
			<textarea id="taskList" rows="10" cols="50" ng-model="pivotalTaskForm.taskList"></textarea>
			<br/>
			<br>
			<input type="submit" value="Submit">
			<label id="taskAddStatus">{{successMsg}}</label>
		</form>
		<br>
		<br>
	</div>
	<script src="./scripts/bundle.js"></script>
</body>

</html>
